.link {
  text-decoration: none;
  transition: transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    transform: scale(1.05) translateZ(160px);
  }

  .movie-card {
    list-style: none;
    display: flex;

    row-gap: 2rem;
    column-gap: 1.25rem;
    position: relative;

    .image-wrapper {
      width: 20%;
      .movie-card-img {
        width: 100%;
        object-fit: contain;
        border-radius: 0.8rem;
      }
    }

    .movie-card-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .movie-card-headline {
        text-decoration: none;
        font-size: 1.125rem;
        color: #000;
        max-width: 80%;
      }

      .movie-card-infos {
        display: flex;
        align-items: center;
        font-size: 16px;
        justify-content: flex-start;

        .movie-card-release_date {
          color: #000;
          line-height: 24px;
          display: flex;
        }

        .rating-icon {
          width: 12px;
          margin-right: 4px;
        }

        .movie-card-rating {
          color: #000;
          line-height: 24px;
        }

        .movie-card-runtime {
          line-height: 24px;
          color: #000;
        }

        .movie-card-genre {
          color: #000;
        }

        .movie-card-genre::after {
        }

        .dot {
          font-size: 8px;
          margin-inline: 3%;
          color: #000;
        }
      }
    }
    .favorites {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .link {
    .movie-card {
      .image-wrapper {
        width: 30%; /* Volle Breite innerhalb des Grid-Elements */
        height: auto;
        .movie-card-img {
          width: 100%; /* Volle Breite des image-wrapper */
          height: auto; /* Höhe automatisch anpassen */
          object-fit: cover;
          border-radius: 0.8rem;
        }
      }

      .movie-card-content {
        .movie-card-headline {
        }

        .movie-card-infos {
          .movie-card-release_date {
          }

          .rating-icon {
          }

          .movie-card-rating {
          }

          .movie-card-runtime {
          }

          .movie-card-genre {
          }

          .movie-card-genre::after {
          }

          .dot {
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .link {
    .movie-card {
      width: 100%;
      height: 400px;
      display: flex;
      flex-direction: column;

      .image-wrapper {
        width: 100%;
        height: 60%; /* 60% der Gesamthöhe der movie-card */

        .movie-card-img,
        .movie-card-desktop-img {
          height: 100%; /* Volle Höhe des image-wrapper */
          width: 100%;
          object-fit: cover;
          border-radius: 0.8rem;
        }
      }

      .movie-card-content {
        padding-inline: 3%;
      }
      .favorites {
        position: absolute;
        top: 10px; /* Anpassen nach Bedarf */
        right: 10px;
        z-index: 10;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
