.link {
  text-decoration: none;

  .movie-card {
    list-style: none;
    display: flex;

    row-gap: 2rem;
    column-gap: 1.25rem;
    position: relative;

    .image-wrapper {
      width: 20%;
      .movie-card-img {
        width: 100%;
        object-fit: contain;
        border-radius: 0.8rem;
      }
    }
    .movie-card-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .movie-card-headline {
        text-decoration: none;
        font-size: 1.125rem;
        color: #000;
        max-width: 80%;
      }

      .movie-card-infos {
        display: flex;
        align-items: center;
        font-size: 16px;
        justify-content: flex-start;

        .movie-card-release_date {
          color: #000;
          line-height: 24px;
          display: flex;
        }

        .rating-icon {
          width: 12px;
          margin-right: 4px;
        }

        .movie-card-rating {
          color: #000;
          line-height: 24px;
        }

        .movie-card-runtime {
          line-height: 24px;
          color: #000;
        }

        .movie-card-genre {
          color: #000;
        }

        .movie-card-genre::after {
        }

        .dot {
          font-size: 8px;
          margin-inline: 3%;
          color: #000;
        }
      }
    }
    .favorites {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
    }
  }
}
