.section-movies {
  margin-bottom: 5rem;
  max-width: 100%;
}

.movies-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .movies-list {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.75rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .movies-list-desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
