.section-wrapper {
  display: flex;
  justify-content: center;
  padding: 5%;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    height: 100vh;
  }

  .section-registration {
    background-color: #1212127c;
    width: 100%;
    max-height: 100vh;
    transition: animation 1s ease-out;
    padding: 16% 8% 8% 8%;
    // animation: scale-in-ver-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
    position: relative;
    backdrop-filter: blur(10px);

    .login-logo {
      width: 40vw;
      margin-bottom: 20px;
    }

    .text-logo span {
      text-transform: uppercase;
      margin-left: 2px;
    }

    .registration-signin {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 70%;
    }

    .registration-headline {
      color: #fff;
      text-align: left;
      margin-left: 2%;
      margin-block: 1.875rem;
      font-size: 0.8rem;
      font-family: "Poppins-Rg";
      text-align: center;
      padding-block: 8px;
      background-color: transparent;
      border: none;
      text-decoration: none;
      border-right: 2px solid #fc2121;
      border-top: 2px solid #fc2121;
      border-bottom: 2px solid #fc2121;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .login-headline {
      color: #fff;
      text-align: left;
      margin-left: 2%;
      margin-block: 1.875rem;
      font-size: 0.8rem;
      font-family: "Poppins-Rg";
      text-align: center;
      background-color: transparent;
      border: none;
      padding-block: 8px;
      text-decoration: none;
      border-left: 2px solid #fc2121;
      border-top: 2px solid #fc2121;
      border-bottom: 2px solid #fc2121;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .form-active {
      background-color: #fc2121;
      // border-radius: 4px;
    }

    .registration-form {
      display: flex;
      flex-direction: column;
      margin-inline: 2%;
      row-gap: 1.25rem;
      width: 100%;

      .registration-input {
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        border: none;
        font-size: 18px;
        background-color: #fff;
        color: #333;
      }

      .registration-input:focus {
        outline: 1px solid #fc2121;
      }

      .registration-button {
        background-color: #fc2121;
        padding: 1rem 1.5rem;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 18px;
        font-family: "Poppins-Md";
      }

      .informations {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
      }
      .remember-me {
        margin-right: 4px;
      }
      .need-help {
        font-family: "Poppins-Rg";
      }
    }
  }
}
